body {
  background-color: rgb(238, 238, 238);
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-grid {
  position: relative;
  margin: 0 auto;
  padding: calc(100vh/5) 0;
  display: grid;
  grid-template: 1fr 1fr 1fr / 1fr 1fr 1fr;
  gap: 10px;
  width: 450px;
  height: 450px;
}

.result-text {
  position: absolute;
  margin: 0;
  font-size: 1.5rem;
  top: calc(100vh/5 - 3rem);
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(32, 32, 32);
  z-index: 2;
}

.display-none {
  display: none;
}

.grid-tile {
  position: relative;
  background-color: rgb(155, 155, 155);
  border-radius: 20px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  transition: background-color .1s; 
  
}

.grid-tile:hover {
  background-color: rgb(128, 128, 128);
}

.grid-tile:active {
  background-color: rgb(99,99,99);
}

.x, .o {
  position: absolute;
  top: -3px;
  left: -3px;
}

.retry-button {
  margin-top: -100px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(32, 32, 32);
  background-color: rgb(155, 155, 155);
  box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
  border: none;
  border-radius: 15px;
  transition: transform .2s, text-shadow .2s;
  z-index: 3;
}

.retry-button:hover {
  transform: scale(1.2);
  text-shadow: 0 0 4px white;
}

.retry-button:active {
  background-color: rgb(136, 136, 136);
}